{{define "main"}}

<p> Hello, I'm Vladislav Shubin and it's my personal website. </p>
<p> I'm currently getting a master's degree at the Stockholm University in Sweden.</p>
<br>
<p> The detailed information about me is on about page. </p>
<p> Also, you can send me e-mail via v.v.choubine (at) gmail (dot) com and take a look on my <a href="https://github.com/supxinfy">Github</a>.</p>

<br>

<figure class="main__image">
	<img src="{{ .Site.BaseURL }}/favicon.png" alt="MacWilliams matrix">
	<figcaption>
	Here is some beatiful matrix some prime modulo
	</figcaption>
</figure>

{{end}}
